header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #A5B4BB;
}

.logo img {
  width: 150px; /* Ajuste o tamanho conforme necessário */
  height: auto;
}

nav {
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-icon span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
}

.nav-links.active a {
  color: yellow; /* Exemplo de mudança de cor quando o menu está ativo */
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    margin: 1rem 0;
  }
}
