/* Estilos para a seção Hero */
.hero {
  padding: 120px 20px;
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero .button {
  background-color: #A5B4BB;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

