/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #A5B4BB; /* Cor de fundo similar à logo */
  color: #A47240; /* Cor do texto similar à logo */
}

header {
  background-color: #A5B4BB;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header a {
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

header a.logo {
  width: 111px;
  height: 90px;
  background-image: url('/assets/logo.png');
  background-size: cover;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.nav-links a {
  margin: 0 20px;
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
}

.menu-icon {
  display: none; /* Esconder no desktop */
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #A5B4BB;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    margin: 10px 0;
  }
}

.hero {
  padding: 120px 20px;
  text-align: center;
  color: #fff;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 20px;
}

.hero .button {
  background-color: #A5B4BB;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.section {
  padding: 60px 20px;
  text-align: center;
}

.section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #A47240;
}

.section .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  max-width: 300px;
  text-align: center;
}

.card img {
  max-width: 100%;
  border-radius: 10px;
}

.contact {
  background-color: #fff;
  padding: 30px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px auto;
  max-width: 600px;
}

.contact h2 {
  color: #A47240;
  margin-bottom: 20px;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact form input, .contact form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact form button {
  background-color: #A5B4BB;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: #A5B4BB;
  color: #fff;
  padding: 20px;
  text-align: center;
}
